In [1]:
t = (1, 2, 3)

In [2]:
t

(1, 2, 3)

In [3]:
type(t)

tuple

In [4]:
myList = [1, 2, 3]

In [5]:
type(myList)

list

In [6]:
myList

[1, 2, 3]

In [7]:
len(t)

3

In [8]:
t = ('One', 2)

In [9]:
t[0]

'One'

In [10]:
t[-1]

2

In [11]:
t = ('a', 'a', 'b')

In [12]:
t.count

In [13]:
t.count()

TypeError: count() takes exactly one argument (0 given)

In [14]:
t.count('a')

2

In [15]:
t.index('a')

0

In [16]:
t.index('b')

2

In [17]:
clear()

In [18]:
t

('a', 'a', 'b')

In [19]:
myList

[1, 2, 3]

In [20]:
myList [0] = 'New'

In [21]:
myList

['New', 2, 3]

In [22]:
t[0] = 'New'

TypeError: 'tuple' object does not support item assignment

In [23]:
clear()