In [1]:
def squar(number):
    return number ** 2

In [2]:
myNums = [1, 2, 3, 4, 5, 6]

In [3]:
myNumes

NameError: name 'myNumes' is not defined

In [4]:
clear()

In [5]:
myNums

[1, 2, 3, 4, 5, 6]

In [7]:
map(squar, myNums)

In [9]:
for item in map(squar, myNums):
    print(item)

1
4
9
16
25
36

In [10]:
list(map(squar, myNums))

[1, 4, 9, 16, 25, 36]

In [11]:
def splicer(myString):

SyntaxError: unexpected EOF while parsing (<ipython-input-11-e5bb42fd97ec>, line 1)

In [12]:
def splicer(myString):
    if len(myString) % 2 == 0:
        return 'Even'
    else:
        return myString[0]

In [13]:
names = ['Andy', 'Eve', 'Sally']

In [14]:
list(map(splicer, names))

['Even', 'E', 'S']

In [15]:
clear()

In [16]:
def checkEven(num):
    return num % 2 == 0

In [17]:
myNums = [1, 2, 3, 4, 5, 6]

In [18]:
filter(checkEven, myNums)

In [19]:
list(filter(checkEven, myNums))

[2, 4, 6]

In [20]:
for number in filter(checkEven, myNums):
    print(number)

2
4
6

In [21]:
def square(num):
    result = num ** 2
    return result

In [22]:
square(3)

9

In [23]:
def square(num):
    return num ** 2

In [24]:
square(5)

25

In [25]:
def squre(num): return num ** 2

In [26]:
square(16)

256

In [27]:
clear()

In [29]:
lambda num: num ** 2

In [30]:
square = lambda num : num ** 2

In [31]:
square(20)

400

In [32]:
clear()

In [33]:
list(map(lambda num : num ** 2, myNums))

[1, 4, 9, 16, 25, 36]

In [34]:
list(filter(lambda num : num % 2 == 0, myNums))

[2, 4, 6]

In [35]:
names

['Andy', 'Eve', 'Sally']

In [36]:
clear()

In [37]:
list(map(lambda name: name[0], names))

['A', 'E', 'S']

In [38]:
list(map(lambda name:name[::-1], names))

['ydnA', 'evE', 'yllaS']